@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-primary-50: #e8fdf0;
  --c-primary-100: #d0fae1;
  --c-primary-200: #a1f5c3;
  --c-primary-300: #73f0a4;
  --c-primary-400: #44eb86;
  --c-primary-500: #15e668;
  --c-primary-600: #11b853;
  --c-primary-700: #0d8a3e;
  --c-primary-800: #085c2a;
  --c-primary-900: #042e15;
}
