@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("./assets/fonts/rubik.ttf");
  font-family: "Rubik";
}

@font-face {
  src: url("./assets/fonts/rubik-italic.ttf");
  font-family: "Rubik";
  font-style: italic;
}

:root {
  --primary-50: #ebebeb;
  --primary-100: #d6d6d6;
  --primary-200: #aeaeae;
  --primary-300: #858585;
  --primary-400: #5d5d5d;
  --primary-500: #343434;
  --primary-600: #2a2a2a;
  --primary-700: #1f1f1f;
  --primary-800: #151515;
  --primary-900: #0a0a0a;

  font-size: 18px;
}

#root {
  width: 100vw;
  height: 100vh;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline: none;
}

*:focus {
  outline: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
